body,html,#root {
    height: 100%;
    background-color: #0079bf;
    font-family: 'roboto';
}
*{
    padding: 0;
    margin: 0;
}
.baseContainer {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.boardContainer {
    background-color: #0079bf;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.listWrapper {
    display: flex;
    height: 90%;
}
.cardWrapper {
    padding: 0 5px;
    height: 100%;
    overflow:hidden;
    margin: 0 10px;
    background-color: #e2e4e6;
    border-radius: 5px;
}
.cardContainer{
    width: 250px;
    padding: 0 5px;
    height: 95%;
    overflow:auto;
}
.cardListTitle {
    background-color: #e2e4e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 10px 5px 0;
    font-size: 16px;
    text-align: center;
    color: #4d4d4d;
}
.card {
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background-color: #fff;
    margin: 10px 5px;
    border-radius: 5px;
    position: relative;
}
.card:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}
.cardHeaderTitle {
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgb(203, 194, 194);
}
.paddingCard {
    padding: 8px;
}
.photocard {
    float: left;
    width: 70px;
    text-align: center;
}
.photocard img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%; 
}
.nameCard {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
.descriptionBodyCard {
    font-size: 14px;
}
.footerCard {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(203, 194, 194);
}
.profilesCard img:first-child {
    margin-right: 3px;
}
.profilesCard img {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.cardPreview{
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background-color: #d3d1d1;
    border-radius: 5px;
    min-height: 150px;
    margin: 10px 5px;
}
